
@{
    ViewBag.Title = "Доступ к базе данных";
}

<h2>@ViewBag.Title</h2>

<ul>
    <li>
        <h3>@Html.ActionLink("Пользователи", "UserList", "Database")</h3>
    </li>
    <li>
        <h3>@Html.ActionLink("Счётчики", "MetersList", "Database")</h3>
    </li>
    <li>
        <h3>@Html.ActionLink("Типы счётчиков", "Types", "Database")</h3>
    </li>
    <li>
        <h3>@Html.ActionLink("Тарифы счётчиков", "Tariffes", "Database")</h3>
    </li>
    <li>
        <h3>@Html.ActionLink("Параметры счётчиков", "ParametersList", "Database")</h3>
    </li>
</ul>

